# THIS IS ONLY FOR THE gitattributes REPOSITORY.
# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.java text
*.h text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# These files are text and should be normalized (Convert crlf => lf)
*.java text
*.xml text
*.txt text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.jar binary
*.so binary
*.dll binary