<?xml version="1.0"?>
<Constants xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RunLevelStartApplication>false</RunLevelStartApplication>
  <RunLevelApplicationToStart />
  <RunLevelAppendLevelFilename>false</RunLevelAppendLevelFilename>
  <SaveLevelStartApplication>false</SaveLevelStartApplication>
  <SaveLevelApplicationToStart />
  <SaveLevelAppendLevelFilename>false</SaveLevelAppendLevelFilename>
  <ShowGrid>true</ShowGrid>
  <SnapToGrid>true</SnapToGrid>
  <ShowWorldOrigin>false</ShowWorldOrigin>
  <ColorSelectionFirst>
    <R>255</R>
    <G>255</G>
    <B>0</B>
    <A>255</A>
    <PackedValue>4294967040</PackedValue>
  </ColorSelectionFirst>
  <ColorSelectionRest>
    <R>255</R>
    <G>128</G>
    <B>0</B>
    <A>255</A>
    <PackedValue>4294934528</PackedValue>
  </ColorSelectionRest>
  <EnableHighlightOnMouseOver>true</EnableHighlightOnMouseOver>
  <ColorHighlight>
    <R>255</R>
    <G>0</G>
    <B>0</B>
    <A>228</A>
    <PackedValue>3841916928</PackedValue>
  </ColorHighlight>
  <ColorBackground>
    <R>100</R>
    <G>149</G>
    <B>237</B>
    <A>255</A>
    <PackedValue>4284782061</PackedValue>
  </ColorBackground>
  <ColorSelectionBox>
    <R>255</R>
    <G>255</G>
    <B>255</B>
    <A>109</A>
    <PackedValue>1845493759</PackedValue>
  </ColorSelectionBox>
  <ColorPrimitives>
    <R>192</R>
    <G>0</G>
    <B>192</B>
    <A>145</A>
    <PackedValue>2445279424</PackedValue>
  </ColorPrimitives>
  <ColorTextureTransparent>
    <R>255</R>
    <G>0</G>
    <B>255</B>
    <A>255</A>
    <PackedValue>4294902015</PackedValue>
  </ColorTextureTransparent>
  <DefaultPathItemLineWidth>4</DefaultPathItemLineWidth>
  <DefaultContentRootFolder>C:\</DefaultContentRootFolder>
  <CameraSpeed>1000</CameraSpeed>
  <CameraFastSpeed>10000</CameraFastSpeed>
  <DefaultTextureOriginMethod>TextureCenter</DefaultTextureOriginMethod>
  <WorldOriginColor>
    <R>255</R>
    <G>255</G>
    <B>255</B>
    <A>255</A>
    <PackedValue>4294967295</PackedValue>
  </WorldOriginColor>
  <WorldOriginLineThickness>2</WorldOriginLineThickness>
  <GridColor>
    <R>192</R>
    <G>192</G>
    <B>192</B>
    <A>120</A>
    <PackedValue>2025898176</PackedValue>
  </GridColor>
  <GridLineThickness>1</GridLineThickness>
  <GridNumberOfGridLines>10000</GridNumberOfGridLines>
  <GridSpacing>
    <X>16</X>
    <Y>16</Y>
  </GridSpacing>
</Constants>